extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	// Секция Top-banner
	include ../section/top-banner
	// Конец секции Top-banner
	// Секция Services
	include ../section/services
	// Конец секции Services
	// Секция Advantage
	include ../section/Advantage
	// Конец секции Advantage
	// Секция Top-form
	include ../section/top-form
	// Конец секции Top-form
	// Секция Product
	include ../section/product
	// Конец секции Product
	// Секция Calculate
	include ../section/calculate
	// Конец секции Calculate