// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'

// Компоненты
@import "common/common.styl"

// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции top-banner */
@import 'section/top-banner.styl'
/* Стили секции top-banner */

/* Стили секции services */
@import 'section/services.styl'
/* Стили секции services */

/* Стили секции advantage */
@import 'section/advantage.styl'
/* Стили секции advantage */

/* Стили секции top-form */
@import 'section/top-form.styl'
/* Стили секции top-form */

/* Стили секции product */
@import 'section/product.styl'
/* Стили секции product */

/* Стили секции calculate */
@import 'section/calculate.styl'
/* Стили секции calculate */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */