// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1170px
	margin 0 auto
	@media (max-width: 1200px) 
		padding 0 10px




// футер к низу

body 
	display flex
	flex-direction column


.main 
	flex 1
