// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1078px
	margin 0 auto
	@media ({screen-lg})
		padding 0 10px


// Скрыватели

@media (min-width: 1100px) 
	.hidden-lg 
		display none !important


@media (min-width: 769px) and (max-width: 1099px) 
	.hidden-xl 
		display none !important


@media (min-width: 481px) and (max-width: 768px) 
	.hidden-md 
		display none !important


@media (max-width: 480px) 
	.hidden-sm 
		display none !important



// футер к низу

body 
	display flex
	flex-direction column


.main 
	flex 1
