// ЦВЕТА
accent-color = #009ee2
default-color = #505661
gray-color = #797979
red-color = #e2005a
text-disabled-color = #a1adc3

// РАЗМЕРЫ

screen-lg = 'max-width: 1100px'
screen-xl = 'max-width: 960px'
screen-md = 'max-width: 768px'
screen-sm = 'max-width: 480px'


// ШРИФТЫ

base-font = 'Montserrat'