.advantage
  padding-top 45px
  padding-bottom 55px

.advantage__wrap
  display flex
  justify-content space-between

.advantage__item
  max-width 315px
  width 100%

.advantage__icon
  margin-bottom 25px
  .icon
    size(91px)

.advantage__name
  font-size 24px
  line-height 24px
  font-weight bold
  margin-bottom 20px
  span
    display block
