.services
  padding-top 65px
  background accent-color
  color white
  @media ({screen-lg})
    padding-top 50px
  @media ({screen-xl})
    padding-top 35px

.services__wrap
  display flex
  flex-wrap wrap
  justify-content space-between

.services__item
  width 100%
  max-width 315px
  height 350px
  display flex
  flex-direction column
  margin-bottom 80px
  @media ({screen-lg})
    max-width 300px
    margin-bottom 50px
  @media ({screen-xl})
    height 275px
    margin-bottom 35px
  @media ({screen-md})
    height auto
    max-width 210px

.services__icon
  padding-left 20px
  margin-bottom 23px
  .icon
    size(75px, 55px)
    @media ({screen-md})
      size(65px, 45px)

.services__name
  font-size 24px
  line-height 24px
  font-weight bold
  margin-bottom 20px
  span
    display block
  
.services__text
  margin-bottom auto
  max-width 290px
  @media ({screen-xl})
    font-size 15px

.services__btn
  &.btn
    size(233px, 50px)
  @media ({screen-md})
    margin-top 20px
    &.btn
      size(100%, 40px)