.services
  padding-top 65px
  background accent-color
  color white

.services__wrap
  display flex
  flex-wrap wrap
  justify-content space-between

.services__item
  width 100%
  max-width 315px
  height 350px
  display flex
  flex-direction column
  margin-bottom 80px

.services__icon
  padding-left 20px
  margin-bottom 23px
  .icon
    size(75px, 55px)

.services__name
  font-size 24px
  line-height 24px
  font-weight bold
  margin-bottom 20px
  span
    display block
  
.services__text
  margin-bottom auto
  max-width 290px

.services__btn
  &.btn
    size(233px, 50px)