.top-form
  background default-color
  color white
  padding-top 32px
  padding-bottom 25px

.top-form__wrap
  display flex
  justify-content space-between

.top-form__info
  max-width 205px

.top-form__title
  font-size: 20px
  font-weight 600
  margin-bottom 20px

.top-form__subtitle
  font-size 30px
  line-height 30px
  font-weight 600

.top-form__form
  width 100%
  max-width 730px
  padding-top 30px

.top-form__list
  display flex
  justify-content space-between

.top-form__group
  max-width 335px

.top-form__btn
  margin-top 45px
  margin-left auto