.top-banner
  margin-top 80px
  padding-top 140px
  padding-bottom 55px
  background url(../img/content/top-banner/bg.jpg) center no-repeat
  background-size cover
  color white

.top-banner__wrap
  display flex
  align-items flex-end
  justify-content space-between

.top-banner__text
  font-size 30px
  line-height 34px
  font-weight 600
  width 100%
  max-width 374px

.top-banner__info
  max-width 334px

.top-banner__title
  font-size 15px
  line-height 30px
  font-weight 600
  max-width 222px
  margin-bottom 40px

.top-banner__subtitle
  display block
  font-size 20px

.top-banner__form
  margin-bottom 5px

.top-banner__input
  background transparent
  color white
  font-size 30px
  border-bottom 4px solid accent-color
  padding-bottom 5px
  font-family base-font
  padding-left 5px

.top-banner__label
  font-size 30px
  top 7px
  letter-spacing: 0.45625rem
  

.top-banner__subform
  display block
  margin-bottom 45px
  font-style 13px
  text-align center
  width 100%