.top-banner
  margin-top 80px
  padding-top 140px
  padding-bottom 55px
  background url(../img/content/top-banner/bg.jpg) center no-repeat
  background-size cover
  color white
  @media ({screen-lg})
    padding-top 100px
  @media ({screen-xl})
    padding-top 30px
    padding-bottom 35px
  @media ({screen-md})
    margin-top 120px
    background-position 28%

.top-banner__wrap
  display flex
  align-items flex-end
  justify-content space-between
  @media ({screen-md})
    display block
    text-align center

.top-banner__text
  font-size 30px
  line-height 34px
  font-weight 600
  width 100%
  max-width 374px
  @media ({screen-md})
    max-width 100%
    margin-bottom 20px

.top-banner__info
  max-width 334px
  @media ({screen-md})
    max-width 100%

.top-banner__title
  font-size 15px
  line-height 30px
  font-weight 600
  max-width 222px
  margin-bottom 40px
  @media ({screen-md})
    max-width 100%
    font-size 18px

.top-banner__subtitle
  display block
  font-size 20px
  @media ({screen-md})
    font-size 22px

.top-banner__form
  margin-bottom 5px

.top-banner__group
  @media ({screen-md})
    max-width 360px
    margin 0 auto

.top-banner__btn
  @media ({screen-md})
    margin 0 auto