header.header
  .container
    .header__wrap
      .header__logo
        include ../modules/logo
      .header__menu
        include ../modules/menu
      .header__phone
        include ../modules/phone